
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    font-size: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url('topography.svg');
    color: #2c233d;
}

.clock {
    background: white;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: .25em;
    
    border: .05em solid currentColor;
    box-sizing: border-box;
    border-radius: 50%;
    
    box-shadow:
        .05em .05em .1em rgba(0, 0, 0, .5),
        inset 0 0 0 .02em white,
        inset .05em .05em .1em rgba(0, 0, 0, .5),
        inset .5em .5em 1em rgba(0, 0, 0, .1);
}
