body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    font-size: 8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('topography.svg');
    color: #2c233d;
}

.clock {
    position: relative;
    background: white;
    display: block;
    width: 1em;
    height: 1em;
    margin: .25em;
    
    border: .05em solid currentColor;
    box-sizing: border-box;
    border-radius: 50%;
    
    box-shadow:
    .05em .05em .1em rgba(0, 0, 0, .5),
        inset 0 0 0 .02em white,
        inset .05em .05em .1em rgba(0, 0, 0, .5),
        inset .5em .5em 1em rgba(0, 0, 0, .1);

    counter-reset: tick;
}

/* pins */
@keyframes rotatePin {
    from {
        transform: rotate(.5turn);
    }

    to {
        transform: rotate(1.5turn);
    }
}

.clock .pin {
    background: currentColor;
    border-bottom-left-radius: 100% 80%;
    border-bottom-right-radius: 100% 80%;
    content: '';

    width: var(--width);
    height: var(--height);

    position: absolute;
    top: 50%;
    left: calc(50% - var(--width) / 2);

    transform-origin: top center;

    border: .001em solid rgba(0, 0, 0, .15);
    box-shadow: 0 0 .005em rgba(0, 0, 0, .25);

    animation: rotatePin var(--duration) linear infinite;
    /* animation-play-state: paused; */
    animation-delay: calc(-1s * var(--delay));
}

.clock .pin::before,
.clock .pin::after {
    position: absolute;
    display: block;
    content: '';
    background-color: inherit;
    border-radius: 50%;
}

.clock .pin::before {
    width: calc(2 * var(--width));
    height: calc(2 * var(--width));
    top: calc(-1 * var(--width));
    left: calc(-.5 * var(--width));
}

.clock .pin::after {
    width: 100%;
    height: calc(2 * var(--width));
    top: calc(-2 * var(--width));
}

/* hour pin */
.clock .pin.hourhand {
    color: gray;
    --width: .035em;
    --height: .2em;
    --duration: calc(60s * 60 * 12);
}

/* minute pin */
.clock .pin.minutehand {
    color: silver;
    --width: .02em;
    --height: .3em;
    --duration: calc(60s * 60);
}

/* second pin */
.clock .pin.secondhand {
    --width: .015em;
    --height: .4em;
    --duration: 60s;
}

/* Ticks */
.clock .tick {
    position: absolute;
    top: 50%;
    left: 50%;
    height: .4em;
    transform-origin: top center;
    transform: rotate(calc(.5turn + 1turn / 12 * var(--count)));

    /* background: teal;
    width: .02em; */
    counter-increment: tick;
}

.clock .tick::before {
    position: absolute;
    display: block;
    font-size: 8%;
    top: calc(100% - .8em);
    transform: translateX(-40%) rotate(.5turn);
    text-align: center;

    content: counter(tick, upper-roman);
}

.clock .tick {
    opacity: .25;
}

.clock .tick:nth-child(3n) {
    opacity: .8;
}